* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    all: unset;
}

input {
    all: unset;
}

:root {
    --bg-color: #131313;
    --secondary-bg-color: rgba(255, 255, 255, 0.06);
    --secondary-text: rgba(255, 255, 255, 0.27);
    --header-bg-color: #00ABC2;
    --primary-border: #00ABC2;
    --primary-button-bg: #00ABC2;
    --fire-day-bg-color: #FFEC2D;
    --font-color: #E8E8E8;
    --input-bg-color: #fff;
    --error-color: #ff0f0f;
}


body {
    background: var(--bg-color);
    color: var(--font-color)
}

/* DRY */
.border-round {
    border-radius: 6px;
}

.cursorable {
    cursor: pointer;
}

.arrow {
    height: 17px;
}

.primary-border {
    border: solid var(--primary-border) 3px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    width: 550px;
}

.flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* COMPONENTS */
.button {
    padding: 7px 20px;
    font-size: 16px;
    text-align: center;
}

.primary-button {
    background: var(--primary-button-bg);
}

.primary-outlined-button {
    border: solid var(--primary-button-bg) 1px;
    color: var(--primary-button-bg);
}
.primary-outlined-button .content {
    display: flex;
    align-items: center;
    gap: 3px;
}
.error-outlined-button {
    border: solid var(--error-color) 1px;
    color: var(--error-color);
}



.secondary-text {
    color: var(--secondary-text);
    font-size: 12px;
}

.line {
    width: 100%;
    height: 1px;
}

.input_field {
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--input-bg-color);
    color: black;
    font-size: 12px;
}

.input_field::placeholder {
    font-size: 13px;
    opacity: 0.7;
}

/* CONTAINER */
.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* HEADER */
header {
    width: 100%;
    height: 55px;
    background: var(--header-bg-color);
    display: flex;
    overflow: hidden;
}

.header-wrapper {
    width: 90vw;
    height: 40px;
    margin: auto;
}

.header-container {
    height: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}

.header-logo {
    height: 35px;
    width: 35px;
}

.header-profile .text .username {
    line-height: 0.5;
}

.header-profile .text .league_name {
    font-size: 13px;
    opacity: 0.6;
    color: #E2E2E2;
}

.header-module {
    gap: 10vw;
}

.header-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.header-fire_days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}


/* MAIN */
.main-wrapper {
    margin: 25px auto auto;
}

.main-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.main-topic .content{
    gap: 35px;
    width: 100%;
}

.main-topic .title {
    font-size: 24px;
}

.main-topic .image {
    width: 100%;

    display: flex;
    justify-content: center;
}

.main-topic .image img {
    height: 40vh;
    overflow: hidden;
}

.main-topic .rating_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.main-topic .level {
    width: 60px;
    height: 60px;

    border: solid white 1px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

.main-topic .stars {
    display: flex;
    gap: 15px;
}

/* PROFILE */
.profile-container {
    margin: 15px auto auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 25px;
}

.profile-text {
    font-size: 17px;
}

.profile-main {
    align-items: flex-start;
}

.profile-main-left {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.profile-username {
    font-size: 30px;
    font-weight: 600;
}

.profile-email {
    font-size: 13px;
}

.profile-reg_date {
    font-size: 13px;
}

.profile-friends-container {
    gap: 15px;
}

.profile-friends-container div {
    color: var(--primary-button-bg)
}

.profile-main-right {
    width: 50%;

    display: flex;
    justify-content: flex-end;
}

.profile-image-edit {
    position: absolute;
    margin-right: 12px;
    margin-top: 12px;
}

.profile-image {
    width: 200px;
    height: 200px;

    border-radius: 100%;
}
.profile-bottom-line {
    background: var(--secondary-text);
    width: 70%;
    margin: auto;
}
.profile-statistics-container{
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}
.profile-statistics-container>div{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px
}
.profile-statistics-container .right{
    align-items: flex-end;
}
.profile-statistics-state {
    width: 200px;
    padding: 10px;
    border: solid var(--secondary-text) 2px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.profile-statistics-state .left {
    align-self: center;
    display: flex;
    align-items: center;
}
.profile-statistics-state .left img {
    height: 25px;
}
.profile-statistics-state .right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1;
}


/* LOGIN */
.login-wrapper {
    width: 100%;
    height: 100%;

    padding: 50px;
}

.login-container {
    width: 400px;

    background: var(--secondary-bg-color);
}

.login-content {
    width: 100%;
    height: 100%;
    gap: 50px;
}

.login-text {
    font-size: 24px;
    font-weight: 600;
}

.login-fields {
    width: 100%;
    gap: 20px;
}

.login-fields .input_field {
    width: 80%;
}

.login-bottom {
    width: 100%;
    gap: 10px;
}

.login-bottom .button {
    width: 50%;
}

.login-bottom .line {
    background: var(--fire-day-bg-color);
    width: 40%;
}

/* REG */
.reg-wrapper {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.reg-container {
    width: 400px;
    background: var(--secondary-bg-color);
}

.reg-content {
    width: 100%;
    height: 100%;
    gap: 30px;
}

.reg-text {
    font-size: 24px;
    font-weight: 600;
}

.reg-fields {
    width: 100%;
    gap: 20px;
}

.reg-fields .input_field {
    width: 80%;
}

.reg-bottom {
    width: 100%;
    gap: 10px;
}

.reg-bottom .button {
    width: 50%;
}

.reg-bottom .line {
    background: var(--fire-day-bg-color);
    width: 40%;
}



