.profile-container {
    margin: 15px auto auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 25px;
}

.profile-text {
    font-size: 17px;
}

.profile-main {
    align-items: flex-start;
}

.profile-main-left {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.profile-username {
    font-size: 30px;
    font-weight: 600;
}

.profile-email {
    font-size: 13px;
}

.profile-reg_date {
    font-size: 13px;
}

.profile-friends-container {
    gap: 15px;
}

.profile-friends-container div {
    color: var(--primary-button-bg)
}

.profile-main-right {
    width: 50%;
    display: flex;
    background: var(--bg-color);
    justify-content: flex-end;
}

.profile-image-edit {
    position: absolute;
    margin-right: 12px;
    margin-top: 12px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid white 3px;
}

.profile-bottom-line {
    background: var(--secondary-text);
    width: 70%;
    margin: auto;
}

.profile-statistics-container {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}

.profile-statistics-container > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px
}

.profile-statistics-container .right {
    align-items: flex-end;
}

.profile-statistics-state {
    width: 200px;
    padding: 10px;
    border: solid var(--secondary-text) 2px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.profile-statistics-state .left {
    align-self: center;
    display: flex;
    align-items: center;
}

.profile-statistics-state .left img {
    height: 25px;
}

.profile-statistics-state .right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1;
}