* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--bg-color);
    color: var(--font-color)
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    all: unset;
}

input {
    all: unset;
}

:root {
    --bg-color: #131313;
    --primary-color: #00ABC2;
    --secondary-bg-color: rgba(255, 255, 255, 0.06);
    --secondary-text: rgba(255, 255, 255, 0.27);
    /*--header-bg-color: #DE3163;*/
    --header-bg-color: var(--primary-color);
    --primary-border: var(--primary-color);
    --primary-button-bg: var(--primary-color);
    --fire-day-bg-color: #FFEC2D;
    --font-color: #E8E8E8;
    --input-bg-color: #fff;
    --error-color: #ff0f0f;
}




/* DRY */
.border-round {
    border-radius: 6px;
}
.cursorable {
    cursor: pointer;
}
.arrow {
    height: 17px;
}
.primary-border {
    border: solid var(--primary-border) 3px;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-container {
    width: 550px;
}
.flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secondary-text {
    color: var(--secondary-text);
    font-size: 12px;
}
.flex-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
